body
    {
    background-color: black;
    }


input
    {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    color: white;
    text-align: center;
    }

button
    {
    position:absolute;
    border-color: white;
    background-color: black;
    border-radius: 10%;
    color: white;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -200px;
    }