.frame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    border-radius: 2px;
  }
   .wrap { 
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius : 50%;  
    background-image: url(keyring.png);
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 0, 0);
    }
  
  .wave {
    width: 500px;  
    height: 500px;
    position: absolute;
    top: 53%;     
    left: -100px;  
    border-radius: 43%; 
    animation: drift 10s infinite linear;
    background: rgba(156, 187, 201, 0.3);  
  }
  .wave.layer_1 {
    animation: drift 15s infinite linear;
    background: rgba(99, 147, 175, 0.3);
  }
  
  
  @keyframes drift {
    100% { 
      transform: rotate(-360deg); 
    }
  }